@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CashMachine Web Application</h1>
    <p class="lead">CashMachine WEBApp allows users to register and login with cards, recharge the card balance, withdraw money and see operations report.</p>
</div>